<!doctype html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title>wxx-电商平台</title>
</head>


<body>

<i class="fa fa-user"></i>

<!--<div>-->
<!--    <a href="" class="link">test</a>-->
<!--    <a href="" class="link-text">test</a>-->
<!--</div>-->
<!--<div>-->
<!--    <a href="" class="btn">test</a>-->
<!--    <a href="" class="btn btn-mini">test</a>-->
<!--</div>-->
<!--<div>-->
<!--    <div class="loading"></div>-->
<!--</div>-->
<!---->

<!--hello 王熙鑫-->
<%= require('html-loader!./layout/footer.html') %>
<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="../../dist/js/base.js"></script>-->
<!--<script type="text/javascript" src="../../dist/js/index.js"></script>-->

</body>
</html>